.wrapper {
	width: 910px;
	margin: 0 auto;
	padding-top: 22px;
}
header {
	display: flex;
	flex-wrap: wrap;
}
.header_contacts {
	display: flex;
}
.header_contacts_shape {
	width: 21px;
	height: 21px;
	-webkit-border-radius: 11px 10px 10px 11px/11px 11px 10px 10px;
	-moz-border-radius: 11px 10px 10px 11px/11px 11px 10px 10px;
	border-radius: 11px 10px 10px 11px/11px 11px 10px 10px;
	background-color: #f10000;
	background-image: -webkit-linear-gradient(bottom, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(bottom, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(bottom, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(bottom, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to top, #206988, #114165 59%, #0c3256);
	margin: 0px 4px 11px 7px;
}
.header_contacts_shape_phone {
	padding-left: 2px;
}
.header_contacts_numbers {
	font-family: Arial;
	font-size: 19px;
	color: #5e696d;
	padding-top: 1px;
}
.header_form {
	display: flex;
	width: 495px;
	height: 26px;
	margin: -4px 0px 0px 15px;
	-webkit-border-radius: 4px/3px;
	-moz-border-radius: 4px/3px;
	border-radius: 4px/3px;
	background-color: #b1bcc0;
	-webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	-moz-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}
.header_form input {
	margin: 4px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
	padding-left: 3px;
	width: 109px;
	height: 13px;
	background-color: #fff;
	border: solid 1px #9ba1a3;
}
.header_form_icon {
	height: 18px;
	margin-left: 7px;
	margin-right: 4px;
	margin-top: 5px;
}
.header_form_verticalline {
	height: 10px;
	margin: 8px 2px 7px 5px;
	border-left: 1px solid white;
}
.header_form_registration, .header_form_enter {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin-top: 6px;
	color: #fff;
	margin-left: 2px;
	letter-spacing: -0.065em;
}
::-webkit-input-placeholder { /* WebKit browsers */
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	color: #97a2a6;
	letter-spacing: -0.06em;
	margin-bottom: 5px;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	color: #97a2a6;
}
:-moz-placeholder {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	color: #97a2a6;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	color: #97a2a6;
}
.header_form_forgotpassword {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin-top: 6px;
	margin-left: 21px;
	margin-bottom: 6px;
	color: #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}
.header_nav {
	display: flex;
	width: 71px;
	height: 19px;
	margin: -3px 0px 0px 17px;
	-webkit-border-radius: 10px/10px 10px 9px 9px;
	-moz-border-radius: 10px/10px 10px 9px 9px;
	border-radius: 10px/10px 10px 9px 9px;
	background-color: #fff;
	border: solid 1px #bdc4c7;
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 0 0 8px #bdc4c7;
}
.header_nav a {
	margin: 0px 4px 0px 5px;
}
.main_nav {
	display: flex;
	width: 775px;
	height: 32px;
	margin-top: 3px;
	margin-bottom: 12px;
	padding-left: 133px;
	-webkit-border-radius: 5px/3px 3px 2px 2px;
	-moz-border-radius: 5px/3px 3px 2px 2px;
	border-radius: 5px/3px 3px 2px 2px;
	background-color: #fff;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	border: solid 1px #0d1642;
	background-image: -webkit-linear-gradient(bottom, #000, #576068);
	background-image: -moz-linear-gradient(bottom, #000, #576068);
	background-image: -o-linear-gradient(bottom, #000, #576068);
	background-image: -ms-linear-gradient(bottom, #000, #576068);
	background-image: linear-gradient(to top, #000, #576068);
}
.main_nav ul {
	display: flex;
}
.main_nav ul li {
	display: flex;
}
.main_nav ul li a {
	display: block;
	text-decoration: none;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 14px;
	color: #b1bcc0;
	text-transform:uppercase;
	letter-spacing: -0.02em;
	padding: 9px 13px 0px 13px;
}
.main_nav ul li:nth-child(2) {
	padding-left: 9px;
}
.main_nav ul li:nth-child(3) {
	padding-left: 4px;
}
.main_nav ul li:nth-child(4) {
	padding-left: 5px;
}
.main_nav ul li a:hover {
	height: 20px;
	-webkit-border-radius: 12px/13px;
	-moz-border-radius: 12px/13px;
	border-radius: 12px/13px;
	background-color: #f60303;
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}
.basket {
	margin-left: 58px;
	display: flex;
}
.basket_price {
	font-family: Arial;
	font-size: 12px;
	color: #0d5a8f;
	margin-top: 2px;
	padding: 8px 2px 2px 2px;
	letter-spacing: 0.02em;
}
.basket_text1 {	
	font-family: Arial;
	font-size: 11px;
	color: #929b9f;
	letter-spacing: 0.05em;
	padding: 10px 0px 2px 5px;
}
.basket_text2 {
	font-family: Arial;
	font-size: 11px;
	color: #929b9f;
	letter-spacing: 0.02em;
	padding: 10px 9px 2px 12px;
}
.basket_img {
	padding-top: 7px;
	padding-right: 1px;
}
.col {
	display: flex;
}
.col1 {
	width: 413px;
	height: 132px;
	-webkit-border-radius: 18px 17px 17px 18px/17px;
	-moz-border-radius: 18px 17px 17px 18px/17px;
	border-radius: 18px 17px 17px 18px/17px;
	background-color: #fff;
	-webkit-box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	-moz-box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	border: solid 1px #9c9c9d;
	margin-right: 14px;
	margin-left: 4px;
}
.col2 {
	width: 191px;
	height: 135px;
	-webkit-border-radius: 17px/19px;
	-moz-border-radius: 17px/19px;
	border-radius: 17px/19px;
	background-color: #fff;
	-webkit-box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	-moz-box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	border: solid 1px #9c9c9d;
	margin-right: 10px;
	margin-top: -1px;
}
.col3 {
	width: 266px;
	height: 134px;
	-webkit-border-radius: 14px/18px 18px 17px 17px;
	-moz-border-radius: 14px/18px 18px 17px 17px;
	border-radius: 14px/18px 18px 17px 17px;
	background-color: #fff;
	-webkit-box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	-moz-box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	border: solid 1px #9c9c9d;
	margin-top: -2px;
}
.section {
	display: flex;
}
.aside {
	flex-direction: column;
	margin-left: -1px;
	margin-top: 1px;
}
.aside__header {
	width: 181px;
	height: 23px;
	display: flex;
	margin-top: 17px;
	margin-bottom: 12px;
	padding-top: 2px;
	padding-right: 0px;
	-webkit-border-radius: 12px/12px 12px 13px 13px;
	-moz-border-radius: 12px/12px 12px 13px 13px;
	border-radius: 12px/12px 12px 13px 13px;
	background-color: #fff;
	-webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	-moz-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
}
.aside__main li:nth-of-type(4) {
	margin-bottom: -27px;
}
.aside__icon {
	width: 20px;
	height: 20px;
	margin-left: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #e20202;
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}
.aside__picture {
	padding-top: 3px;
	padding-left: 4px;
}
.aside__text {
	padding-top:  4px;
	padding-left: 4px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 14px;
	color: #114165;
	letter-spacing: -0.058em;
}
.aside__name, .aside__name1, .aside__name2 {
	width: 148px;
	height: 26px;
	display: flex;
	-webkit-border-radius: 11px/13px;
	-moz-border-radius: 11px/13px;
	border-radius: 11px/13px;
	background-color: #fff;
	border: solid 1px #79878d;
}
.aside__name {
	margin-top: 12px;
	margin-bottom: 7px;
	margin-left: 2px;
}
.aside__name1 {
	margin-top: 30px;
	margin-bottom: 6px;
	margin-left: 2px;
}
.aside__name2 {
	margin-top: -10px;
	margin-bottom: 0px;
	margin-left: 2px;
}
.aside__headline {
	margin-top: 8px;
	margin-left: 3px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	color: #114165;
}
.aside__main, .aside__main1, .aside__main2 {
	letter-spacing: 0.025em;
	list-style: none;
	margin-bottom: 5px;
	margin-left: 37px;
	margin-top: 6px;
}
.aside__main a, .aside__main1 a,.aside__main2 a {
padding-left:11px;
	background:  url(../img/list_style0.png) no-repeat;
	padding-top: 1px;
}
.aside__main li:nth-of-type(3) {
    margin-top: -4px;
}
.aside__main2 li:nth-of-type(2) {
    margin-top: -2px;
}
.aside__main1 li:nth-of-type(2) {
    margin-top: -1px;
}
.aside__main1 li:nth-of-type(3) {
    margin-top: -2px;
}
.aside__main1 li:nth-of-type(4) {
    margin-top: -1px;
}
.aside__main2 li:nth-of-type(3) {
    margin-top: -1px;
}
.aside__main2 li:nth-of-type(4) {
    margin-top: -2px;
}
.aside__main a , .aside__main1 a,.aside__main2 a{
	display: block;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	text-decoration: none;
	color: #465961;
	margin: 0 0 14px 0px ;
}
.aside__main a:hover,  .aside__main1 a:hover, .aside__main2 a:hover{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color:#0c3256; 
	padding-left:11px;
	background:  url(../img/list_style1.png) no-repeat;
}
.aside__name_img {
	margin-top: 2px;
	margin-left: 3px;
	height: 23px;
}
.form_items {
	width: 115px;
}
.form_items label {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	color: #465961;
}
.button {
	width: 80px;
	height: 24px;
	-webkit-border-radius: 10px/11px;
	-moz-border-radius: 10px/11px;
	border-radius: 10px/11px;
	background-color: #000;
	border: solid 1px #a7abae;
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
	font-family: Arial;
	font-size: 11px;
	color: #e5e9ea;
	margin: 9px 0 0 36px;
	letter-spacing: 0.07em;
}
.aside--right .aside__header {
	margin: 14px 0 14px 11px;	
}
.aside--right .aside__text {
	padding-left: 5px;
	letter-spacing: 0em;
}
.aside--right .aside__name {
	margin: 0px 0 6px 28px;
	width: 133px;
}
.aside--right .aside__name img:nth-of-type(1) {
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
}
.aside--right .aside__icon {
	padding-left: 2px;
	padding-top: 0px;
}
input[type="checkbox"] {
	height: 10px;
	margin: 3px 7px 13px 36px;
}
.form_items div:nth-of-type(2) {
	margin-bottom: 7px;
	margin-top: 3px;
	margin-left: 26px;
}
article {
	display: flex;	
}
section {
	display: flex;
	flex-wrap: wrap;
	width: 526px;
	-webkit-border-radius: 3px/2px 2px 3px 3px;
	-moz-border-radius: 3px/2px 2px 3px 3px;
	border-radius: 3px/2px 2px 3px 3px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -moz-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -o-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -ms-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: linear-gradient(to top, rgba(35,75,93,.49), rgba(201,207,209,.49));
	margin: 14px 0px 0px 8px;
	padding-bottom: 2px;}
.item {
	text-align: center;
	margin: 15px 2px 26px 23px;
}
.item__header1 {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 16px;
	color: #206988;
	letter-spacing: -0.025em;
}
.item__header2 {
	margin:  -1px 0px -1px 5px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 14px;
	color: #1f2528;
	letter-spacing: -0.04em;
}
.item__price {
	margin:  3px 0px 0px 1px;
	padding-left: 8px;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	color: #114165;
	font-size: 18px;
	letter-spacing: -0.025em;
}
.item__price1 {
	font-size: 13px;

	margin:  0px 0px 0px 1px;
}
.item__img {
	margin-top: 4px;
	margin-left: -2px;
}
.item__frame {
	width: 137px;
	height: 127px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #fff;
	border: solid 1px #a4aeb1;
}

.item--2 .item__header1 {
	margin:  -2px 0px 0px -1px;
}
.item--2 .item__img {
	margin-top: 5px;
}
.item--2 .item__price {
	margin:  2px 0px 0px 1px;
}
.item--3 .item__header1 {
	margin:  0px 0px 0px -2px;
}
.item--3 .item__header2 {
	margin: -1px 0px 0px 3px;
}
.item--3 .item__price {
	margin:  3px 0px 0px 1px;
}
.item--4 .item__header1 {
	margin:  0px 0px 0px 8px;
}
.item--4 .item__frame {
	margin: -1px 0px 0px 4px;
}
.item--4 .item__header2 {
	margin: -1px 0px 0px 7px;
}
.item--4 .item__price {
	margin:  3px 0px 0px 7px;
}
.item--5 .item__img {
	margin-top: 5px;
}
.item--5 .item__header1 {
	margin:  -3px 0px 0px 5px;
}
.item--5 .item__frame {
	margin: -1px 0px 0px 4px;
}
.item--5 .item__header2 {
	margin: -1px 0px 0px 5px;
	letter-spacing: -0.038em;
}
.item--5 .item__price {
	margin:  4px 0px 0px 7px;
}
.item--6 .item__img {
	margin-top: 5px;
}
.item--6 .item__header1 {
	margin:  0px 0px 0px 8px;
}
.item--6 .item__frame {
	margin: -1px 0px 0px 4px;
}
.item--6 .item__header2 {
	margin: -1px 0px 0px 7px;
}
.item--6 .item__price {
	margin:  3px 0px 0px 7px;
}
.item--7 .item__img {
	margin-top: 5px;
}
.item--7 .item__header1 {
	margin:  0px 0px 0px 8px;
}
.item--7 .item__frame {
	margin: -1px 0px 0px 4px;
}
.item--7 .item__header2 {
	margin: -1px 0px 0px 4px;
	letter-spacing: -0.045em;
}
.item--7 .item__price {
	margin:  3px 0px 0px 7px;
}
.item--8 .item__img {
	margin-top: 5px;
}
.item--8 .item__header1 {
	margin:  -3px 0px 0px 8px;
}
.item--8 .item__frame {
	margin: -1px 0px 0px 4px;
}
.item--8 .item__header2 {
	margin: -1px 0px 0px 4px;
	letter-spacing: -0.045em;
}
.item--8 .item__price {
	margin:  3px 0px 0px 7px;
}
.item--9 .item__img {
	margin-top: 5px;
}
.item--9 .item__header1 {
	margin:  0px 0px 0px 8px;
}
.item--9 .item__frame {
	margin: -1px 0px 0px 4px;
}
.item--9 .item__header2 {
	margin: -1px 0px 0px 4px;
	letter-spacing: -0.045em;
}
.item--9 .item__price {
	margin:  3px 0px 0px 7px;
}
.brends {
	display: flex;
	margin: 38px 0px 25px 117px;
}
.brends__toyotires {
	display: block;
	width: 83px;
	height: 27px;
	background: #fff url(../img/brends.png) 0 0 no-repeat;
}
.brends__bidgestone {
	display: block;
	width: 97px;
	height: 27px;
	background: #fff url(../img/brends.png) -84px 0 no-repeat;
	margin-left: 12px;
}
.brends__conntinentaltire {
	display: block;
	width: 77px;
	height: 27px;
	background: #fff url(../img/brends.png) -182px 0 no-repeat;
	margin-left: 13px;
}
.brends__godper {
	display: block;
	width: 59px;
	height: 27px;
	background: #fff url(../img/brends.png) -260px 0 no-repeat;
	margin-left: 15px;
}
.brends__avon {
	display: block;
	width: 77px;
	height: 27px;
	background: #fff url(../img/brends.png) -320px 0 no-repeat;
	margin-left: 12px;
}
.brends__tirefactory {
	display: block;
	width: 57px;
	height: 27px;
	background: #fff url(../img/brends.png) -398px 0 no-repeat;
	margin-left: 13px;
}
.brends__pirelli {
	display: block;
	width: 61px;
	height: 27px;
	background: #fff url(../img/brends.png) -456px 0 no-repeat;
	margin-left: 13px;
}
.brends__dunlop {
	display: block;
	width: 72px;
	height: 27px;
	background: #fff url(../img/brends.png) -518px 0 no-repeat;
	margin-left: 15px;
}
footer {
	width: 908px;
	height: 99px;
	background-color: #213a4d;
	border: solid 1px #242a3c;
}
.footer_nav {
	display: flex;
	margin: 10px 0 0 296px ;
}
.footer_nav li{
	display: flex;
}
.footer_nav a {
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	color: #bec6c9;
	letter-spacing: -0.018em;
	padding-left: 12px;
	padding-right: 12px;	
}
.footer_nav a:last-child {
	margin-left: 4px;
}
.footer_nav a:hover {
	color: #52abcb;
}
.line {
	height: 11px;
	border-left: 1px solid #bec6c9;
	margin-top: 2px;
}
.footer_end {
	font-family: Arial;
	font-size: 10px;
	color: #7f4740;
	margin-top: 16px;
	margin-left: 376px;
	letter-spacing: 0.006em;
}